Repository mayank0274/mock-interview-with-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint

frontend-format:
  name: format(prettier)
  entry: bash -c "cd frontend && pnpm run format"
  language: system

frontend-lint:
  name: frontend-lint(eslint)
  entry: bash -c "cd frontend && pnpm run lint"
  language: system

setup db connection
  backend/app/config.py
  backend/app/db/__init__.py
  backend/app/db/pg_conn.py
  backend/app/dependenices.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/user.py
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat : add navbar and hero section
  frontend/components.json
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/(home)/HeroSection.tsx
  frontend/src/app/(home)/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/assets/google-icon.svg
  frontend/src/assets/logo.png
  frontend/src/components/layout/Navbar.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/lib/utils.ts
Due: frontend-format, frontend-lint

feat : interview session api and ui
  backend/app/main.py
  backend/app/models/interview_session.py
  backend/app/router/interviews.py
  backend/app/services/constants.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/dashboard/create-interview/page.tsx
  frontend/src/app/interview/[interviewId]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/layout/Navbar.tsx
  frontend/src/components/layout/SidebarWrapper.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/radio-group.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/http/api.ts
Due: frontend-format, frontend-lint

feat : add basic interview functionality
  backend/app/config.py
  backend/app/db/pg_conn.py
  backend/app/db/redis.py
  backend/app/db/supabase.py
  backend/app/inngest/client.py
  backend/app/inngest/functions/__init__.py
  backend/app/inngest/functions/evaluate_answer.py
  backend/app/inngest/functions/transcription.py
  backend/app/llm/__init__.py
  backend/app/llm/config.py
  backend/app/llm/redis_memory.py
  backend/app/main.py
  backend/app/models/interview_session.py
  backend/app/router/interviews.py
  backend/app/router/upload_files.py
  backend/app/services/queue.py
  backend/app/services/speech_to_text.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/dashboard/create-interview/page.tsx
  frontend/src/app/dashboard/interview/[interviewId]/page.tsx
  frontend/src/app/dashboard/interview/page.tsx
  frontend/src/app/dashboard/past-interviews/page.tsx
  frontend/src/app/interview/[interviewId]/page.tsx
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/site-header.tsx
  frontend/src/components/ui/table.tsx
Due: frontend-format, frontend-lint

updated readme
  readme.md
Due: none

update readme files
  backend/.env.example
  backend/.gitignore
  backend/README.md
  frontend/README.md
  readme.md
Due: frontend-format

update frontend instructions
  frontend/.env.example
  frontend/.gitignore
  frontend/README.md
Due: frontend-format

refactor ui
  backend/.aiexclude
  frontend/.vscode/settings.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/(home)/FAQSection.tsx
  frontend/src/app/(home)/HeroSection.tsx
  frontend/src/app/(home)/HowItWorks.tsx
  frontend/src/app/(home)/TestimonialSection.tsx
  frontend/src/app/(home)/page.tsx
  frontend/src/app/dashboard/create-interview/page.tsx
  frontend/src/app/dashboard/interview/[interviewId]/page.tsx
  frontend/src/app/dashboard/interview/page.tsx
  frontend/src/app/dashboard/profile/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/interview/[interviewId]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/assets/attend_interview.png
  frontend/src/assets/create_interview.png
  frontend/src/assets/hero.gif
  frontend/src/assets/result.png
  frontend/src/components/MicPermissionDialog.tsx
  frontend/src/components/dashboard/JobTemplateDialog.tsx
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/layout/Navbar.tsx
  frontend/src/components/ui/accordion.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/constants/jobTemplates.ts
Due: frontend-format, frontend-lint

feat : add end interview endpoint
  backend/app/router/interviews.py
  frontend/src/app/interview/[interviewId]/page.tsx
  frontend/src/lib/utils.ts
  frontend/src/types/interview.types.ts
Due: frontend-format, frontend-lint

fix : fixe broken links,ui
  frontend/src/app/(home)/FAQSection.tsx
  frontend/src/app/(home)/HeroSection.tsx
  frontend/src/app/(home)/HowItWorks.tsx
  frontend/src/app/(home)/TestimonialSection.tsx
  frontend/src/app/dashboard/create-interview/page.tsx
  frontend/src/app/dashboard/interview/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/interview/[interviewId]/page.tsx
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/layout/Navbar.tsx
  frontend/src/constants/jobTemplates.ts
Due: frontend-format, frontend-lint

fix: ensure env vars load before Inngest import; add upstash support in redis client
  backend/app/config.py
  backend/app/db/redis.py
  backend/app/main.py
Due: none

chore: update dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format

fix: fix build failure
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/dashboard/interview/page.tsx
  frontend/src/app/interview/[interviewId]/page.tsx
  frontend/src/components/MicPermissionDialog.tsx
  frontend/src/context/userContext.tsx
  frontend/tsconfig.json
Due: frontend-format, frontend-lint

fix : redirection after oauth
  backend/app/config.py
  backend/app/router/auth.py
Due: none

add error logging
  backend/app/main.py
Due: none

fix : redirection after oauth
  backend/app/router/auth.py
Due: none

fix : redirection after oauth
  frontend/src/components/layout/Navbar.tsx
  frontend/src/context/userContext.tsx
Due: frontend-format, frontend-lint

improve prompt
  backend/app/llm/config.py
  backend/app/router/auth.py
  frontend/src/app/dashboard/interview/page.tsx
Due: frontend-format, frontend-lint

update readme with project details and instructions
  readme.md
Due: none

Path conditions:
  frontend-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json|html|md|mdx)$
  frontend-lint: any of: ^frontend/src/.*\.(js|jsx|ts|tsx)$
